<h1><%= @voting.topic %></h1>

<svg height="264" width="440">
  <% @voting.votes.includes(:member).each_with_index do |v, index| %>
    <g>
    <a xlink:href="/members/<%= v.member.id %>"><%= raw create_rect(20, 20, 20, 1, index, v.member.names, v.value) %></a>
    </g>
  <% end %>
</svg>

<div id="hc-votes-by-parties"></div>

