*.iml
*.ipr
*.iws
.idea/
.vagrant/
node_modules
data_mining/government-procurement/settings.secret.js
data_mining/op_website/db/schema.rb

data_mining/mp-votes/error.log

website/config/database.yml

website/db/logfile

data_mining/downloader-mp-votes/error.log

data_mining/downloader-mp-votes/downloader.log
