
<div style="width: 500px; margin: 50px auto;">
Проектът се състои от малки програмки, които извличат инфромацията + уеб сайт.

Уеб сайтът не е завършен, както и някой програмки.

За да ползвате програмките трябва да влезнете във инсталираната среда.

<pre>
	vagrant ssh
</pre>

Щом сте там, ето как да ползвате тези които работят:

<h1>Гласове</h1>

От последния парламент:
<pre>
	node /vagrant/apps/mp-votes/run.js --url=http://www.parliament.bg/bg/plenaryst
</pre>

<a href="https://github.com/obshtestvo/open-parliament/tree/master/apps/mp-votes#%D0%9A%D0%B0%D0%BA%D0%B2%D0%BE-%D0%BF%D1%80%D0%B0%D0%B2%D0%B8">Научи повече.</a>
<h1>...</h1>

.... да се допълни...
</div>