upstream openparliament_django {
  server unix:///tmp/openparliament.sock;
  keepalive 64;
}

server {
    listen 80;

    server_name 192.168.56.101;
    access_log /home/ubuntu/web/openparliament/apps/website/access.log;

    location ~ ^/(?:lib/|img/|js/|css/|upload/|robots.txt|humans.txt|favicon.ico) {
      root /home/ubuntu/web/openparliament/apps/website/static;
      access_log off;
      expires max;
    }

    location / {
      include uwsgi_params;
      uwsgi_pass openparliament_django;
    }
}